#[submodule "src/loki-network"]
#	path = src/loki-network
#	url = https://github.com/loki-project/loki-network.git
#[submodule "src/loki-storage-server"]
#	path = src/loki-storage-server
#	url = https://github.com/loki-project/loki-storage-server.git
#[submodule "src/loki"]
#	path = src/loki
#	url = https://github.com/Doy-lee/loki.git
